body {
  margin: 0;
  padding-top: 250px;
  overflow-x: hidden;
}

#container {
  background-color: crimson;
  text-align: center;
  color: white;
  padding: 150px;
  position: relative;
}

#container:before{
  position: absolute;
  left: 0;
  top: -30%;
  content: '';
  z-index: -1;
  background-color: inherit;
  height: 50%;
  width: 105%;
  transform: rotate(-5deg);
}

#container:after{
  position: absolute;
  left: 0;
  bottom: -30%;
  content: '';
  z-index: -1;
  background-color: inherit;
  height: 50%;
  width: 105%;
  transform: rotate(5deg);
}


/* #container #child {
  height: 350px;
  width: 350px;
  background-color:  purple;
  position: absolute;
  bottom: -175px;
  right: 40px;
}

#container #child #grandchild {
  background-color: green;
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#container #child #grandchild #great-grandchild {
position: absolute;
background-color: blue;
height: 50px;
width: 50px;
top: -100%;
right: -100%;

} */
