body {
  margin: 0;
  padding-top: 250px;
  overflow: hidden;
}

#container {
  background-color: tomato;
  text-align: center;
  color: white;
  padding: 150px;
  /* gives the curve or unicatheme  */
  /* border-top-right-radius: 200px; */
  position: relative;


}
/* Top angel of border slanted  */
  #container:before {
  position: absolute;
  left: 0;
  top: -30%;
  content: '';
  z-index: -1;
  background-color: tomato;
  height: 50%;
  width: 105%;
  transform: rotate(-5deg);
}

/* bottome slanted border  */
#container:after {
position: absolute;
left: 0;
bottom: -30%;
content: '';
z-index: -1;
background-color: tomato;
height: 50%;
width: 105%;
/* transform: skew(0, 5deg); */
transform: rotate(5deg);

}
